doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Creatisidro
    meta(content='Creatisidro es el lugar para encontrarte y compartir con todos los Creativos en San Isidro', name='description')
    meta(content='', name='keywords')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(content='telephone=no', name='format-detection')
    meta(name='HandheldFriendly', content='true')
    link(rel='stylesheet', href='assets/css/master.css')
    // SWITCHER
    link#switcher-css(href='assets/plugins/switcher/css/switcher.css', rel='stylesheet', media='all')
    link(href='assets/plugins/switcher/css/color1.css', rel='alternate stylesheet', title='color1', media='all')
    link(href='assets/plugins/switcher/css/color2.css', rel='alternate stylesheet', title='color2', media='all')
    link(href='assets/plugins/switcher/css/color3.css', rel='alternate stylesheet', title='color3', media='all')
    link(href='assets/plugins/switcher/css/color4.css', rel='alternate stylesheet', title='color4', media='all')
    link(rel='icon', type='image/x-icon', href='favicon.ico')
    link(rel='stylesheet', href='css/cocoen.min.css')
    link(rel='stylesheet', href='css/demo.min.css')
  body
    // Loader
    #page-preloader
      span.spinner
    // Loader end
    .l-theme.animated-css(data-header='sticky', data-header-top='200')
      // Start Switcher
      // end switcher
      header.header
        .header-main
          .row
            .col-xs-12
              
              .header-nav
                
                nav.navbar.yamm
                  #navbar-collapse-1.navbar-collapse.collapse
                    ul.nav.navbar-nav
                      li
                        a(href='/') Inicio
                        
                      li
                        a(href='/creativos') Creativos
                      li
                        a(href='/eventos') Eventos
                      li
                        a(href='/espacios') Espacios
                      li
                        a(href='/registro') Login / Registro
                  .modal-search
                    .container
                      .row
                        .col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1
                          form.form-search-global
                            input.form-search-global__input(type='text', placeholder='Type to search')
                            button.form-search-global__btn
                              i.icon.fa.fa-search
                            .form-search-global__note Begin typing your search above and press return to search.
                    button.modal-search__close.close(type='button')
                      i.fa.fa-times
                // end nav
      // end header
      div(style='padding-top:25px')
        h2(style='text-align:center;background:#4D82C3;margin-bottom:25px;color:white;padding:10px 0px') Conoce a todos los creativos
        .row(style='padding: 0px 10% 50px 10%')
          each thing in data
            .col-md-6.col-sm-12(style='padding-rigth:5%;border-radius:20%')
              .col-sm-4(style='background:#EEE')          
                a(href='/creativo/#{thing.username}')
                  img(src='https://assets4.domestika.org/project-items/001/228/844/sesion-estudio-barcelona-10-big.jpg?1425034585', style='border-radius:100%;height:150px;width:150px')
              .col-sm-8(style='background:#EEE;height:150px')
                br
                br
                a(href='/creativo/#{thing.username}')=thing.name
                p=thing.bio
                p=thing.mainCat

            
      
    script(src='assets/js/jquery.js')
    script(src='assets/js/custom.js')
    script(src='assets/js/bootstrap.min.js')
    script(src='assets/plugins/slider-pro/jquery.sliderPro.min.js')
    script(src='assets/plugins/owl-carousel/owl.carousel.min.js')
    script(src='assets/plugins/magnific-popup/jquery.magnific-popup.min.js')
    script(src='assets/plugins/bootstrap-select/dist/js/bootstrap-select.min.js')
    script(src='assets/plugins/doubletaptogo.js')
    script(src='assets/plugins/waypoints.min.js')
    script(src='assets/plugins/flowplayer/flowplayer.min.js')
    script(src='assets/plugins/classie.js')
    script(src='assets/plugins/scrollreveal/scrollreveal.min.js')
    script(src='assets/plugins/switcher/js/dmss.js')
    script(src='assets/plugins/jarallax/jarallax.min.js')
    script(src='assets/plugins/rendro-easy-pie-chart/dist/jquery.easypiechart.min.js')

