h1 HOLA YA ENTRASTE
h2=user.username
form(action='/logout', method='POST')
  .row.top-space
    .col-xs-12.col-md-6
      input.btn.btn-info(type='submit', value='Cerrar Sesion')
    .col-xs-12.col-md-6.text-right
      a(href='/signup') No tengo cuenta
